/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c9d6ff;
    background:linear-gradient(to right,#e2e2e2,#c9d6ff);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f5f5f5; /* Light gray background color */
  }
  
  input[type="text"], input[type="email"], input[type="tel"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    margin-left: -10px; /* Add a 10px left margin to create space */
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  

  input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
  }
  
  h2, h3 {
    margin-top: 20px;
  }
  
  #pickup {
    background-color: #6eff69; /* pink button color */
    color: #fff; /* white text color */
    border: none; /* no border */
    padding: 10px 20px; /* padding for a nice size */
    font-size: 16px; /* font size */
    cursor: pointer; /* pointer cursor on hover */
    margin: 0 10px; /* margin for some space around the button */
    border-radius: 10px; /* rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* slight shadow */
  }
  
  #pickup:hover {
    background-color: #9cff99; /* lighter pink hover effect color */
  }
  
  #pickup:active {
    background-color: #69ff7b; /* pink active effect color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* deeper shadow on click */
  }

  .alert{
    width: 100%;
    background: rgb(0, 255, 106);
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    display: none;
}