<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/litter.css') }}" />
    <script type="module" src="{{ url_for('static', filename='js/litter.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/litter2.js') }}"></script>
    <title>BlackSpot</title>
  </head>
  <body>
    <!-- navbar -->
    <nav>
      <div class="nav-links">
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('aboutus') }}">About</a>
        <a href="{{ url_for('dump') }}">Dumpsites</a>
        <a href="{{ url_for('pickup') }}">Pickup</a>
        <a href="{{ url_for('litter') }}">BlackSpot</a>
        <div class="dropdown">
          <a>Bins</a>
          <div class="dropdown-content">
            <a href="{{ url_for('add_bin') }}">Add a Bin</a>
            <a href="{{ url_for('viewbin') }}">View Bins</a>
          </div>
        </div>
        <a href="{{ url_for('contactus') }}">Contact</a>
      </div>
      <a href="{{ url_for('login') }}" class="download-btn">Logout</a>
    </nav>

    <h1>BlackSpot</h1>
    <p id="detail">
      Please enable location access to determine your current location
    </p>
    <form id="litterform">
      <div class="alert">Thanks for creating a greener environment.</div>

      <h2>Upload an Image</h2>
      <section class="container">
        <div class="dropzone" id="imageUploader">
          <input type="file" id="fileInput" accept="image/*" />
          <button id="uploadImage">Upload Image</button>
        </div>
        <aside>
          <h4>Image</h4>
          <ul id="fileList"></ul>
        </aside>
        <img id="imagePreview" src="" alt="Image Preview" />
      </section>
      <div class="form-container">
        <label for="landmark">Landmark</label>
        <input
          type="text"
          id="landmark"
          name="landmark"
          placeholder="landmark"
        />

        <label for="description">Description</label>
        <textarea
          id="description"
          name="description"
          rows="4"
          placeholder="landmark"
        ></textarea>
        <button type="submit" id="submitLitter">Submit</button>
      </div>
    </form>
  </body>
</html>
